img
{
    width: 600px;
    height: 400.5px;
}

body
{
    background-color: #e8f4f9;
}

form
{
    display: flex;
    justify-content: center;

    margin-left: 30%;
}

.Image
{
    position: absolute;
    bottom: 27.5%;
    left: 2%;
}
.Mail
{
    position: absolute;
    bottom: 55%;
}

.Pass
{
    position: absolute;
    bottom: 45%;
}

input[type=email], input[type=password]
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-align: center;
    border: none;
    border-bottom: 2px white;
    width: 150%;

    padding:10px;
    margin:10px;
}